<section class="phx-hero">
  <p>Alternative routes with custom assigns for Phoenix</p>
</section>

<div>Have a look at <%= link "the LiveView example page", to: PhxLocalizedRoutes.Helpers.loc_route(Routes.product_index_path(@socket, :index))%></div>
