<%= if @live_action in [:new, :edit] do %>
  <.modal return_to={Routes.product_index_path(@socket, :index)}>
    <.live_component
      module={MyAppWeb.ProductLive.FormComponent}
      id={:new}
      title={@page_title}
      action={@live_action}
      product={%{}}
      return_to={Routes.product_index_path(@socket, :index)}
    />
  </.modal>
<% end %>

<span>Connected: <%= @connected %></span>
<span>Locale: <%= @loc.locale %></span>
<span>Helper: <%= @loc.scope_helper %></span>

<span><%= live_redirect "New Product", id: "redirect",to: Routes.product_index_path(@socket, :new) %></span>
<span><%= live_patch "New Product", id: "patch",to: Routes.product_index_path(@socket, :new) %></span>
<span><%= link  "New Product", id: "link",to: Routes.product_index_path(@socket, :new) %></span>
<%= for {slug, opts} <- Loc.scopes(), opts.assign.scope_helper != @loc.scope_helper do %>
    <span><%= link " [#{slug}] ", id: "link-#{slug}", to: loc_route(OriginalRoutes.product_index_path(@socket, :index), opts) %></span>
<% end %>
